.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 13vw;
    background: #5df30638;
    padding: 0 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9;
}

.brand{
    text-transform: capitalize;
    font-weight: 500;
}

.h1 {
    text-decoration: none;
    color: green;
    left: 4vw;
    position: absolute;
    top: 3vw;
    font-size: 5vw;
}
.h1:hover {
    text-decoration: none;
    color: green;
    
}

.links-container{
    display: flex;
    list-style: none;
}

.link{
    text-transform: capitalize;
    color: white;
    text-decoration: none;
    margin: 0 10px;
    padding: 10px;
    position: relative;
}

.link:hover:not(.active){
    opacity: 0.7;
}

.link.active::after{
    content: '';
    position: absolute;
    bottom: 2px;
    left: 0;
    width: 135%;
    height: 1%;
    background: grey;
}

@media (max-width: 1000px){
    html{
        font-size: 14px;
    }
    /* toggle btn */
    .toggle-btn{
        position: absolute;
        width: 5.5vw;
        height: 7vw;
        right: 5vw;
        cursor: pointer;
        top: 2vw;
        z-index: 4;
    }
    .toggle-btn span{
        position: absolute;
        width: 100%;
        height: 2px;
        background: grey;
        top: 30%;
        transition: .2s;
    }
    .toggle-btn span:nth-child(2){
        top: 50%;
    }
    .toggle-btn span:nth-child(3){
        top: 70%;
    }
    .toggle-btn.active span:nth-child(1){
        top: 50%;
        transform: rotate(45deg);
    }
    .toggle-btn.active span:nth-child(2){
        display: none;
    }
    .toggle-btn.active span:nth-child(3){
        
        top: 50%;
        transform: rotate(-45deg);
    }
    /* links */
    .links-container{
        position: absolute;
        top: 0;
        background: white;
        right: -5vw;
        padding-right:10vw;
        flex-direction: column;
        transition: .5s;
        opacity: 0;
        pointer-events: none;
    }
    .links-container.show{
        opacity: 1;
        pointer-events: all;
    }
    .link{
        display: block;
        height: 50px;
    }
}